{% extends 'base.html' %}
{% block content %}
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<br/><br/>
<div class="card">
    <div class="card-header">
        <strong>Here is Your Task</strong>
    </div>
    <div class="card-body">
        <p class="card-text"><strong>User: </strong>{{ task.user }}</p>
        <p class="card-text"><strong>Description: </strong>{{ task.task_description }}</p>
        <p class="card-text"><strong>Priority: </strong>{{ task.priority }}</p>
        <p class="card-text"><strong>Due Date: </strong>{{ task.due_date }}</p>
        <p class="card-text"><strong>Categories: </strong>
            {% for category in task.categories.all %}
                {{ category.category_name }}
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p class="card-text"><strong>ID: </strong>{{ task.id }}</p>
    </div>
</div>
<br/><br/>
<a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_task' task.id %}" class="btn btn-secondary">Update</a>
{% endblock %}